/* settings for tags */
html {
  min-height: 100%; }

body {
  background-color: #2c3e50;
  background-image: url("img/bg.jpeg");
  background-size: 100% ;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
font-size: large;}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #34495e;
  border-top: 1px solid;
  border-color: #EFEFEF; }

h1 {
  color: #EFEFEF;
  border-color: #EFEFEF;
  font-size: 4em;
  margin-bottom: 1em; }

.btn {
  background-color: #2c3e5087;
  color: #EFEFEF;
  backdrop-filter: blur(20px);
  text-transform: capitalize;
  border-color: #EFEFEF;
  border: 2px solid; 
  border-radius: 0.1em;
  font-size:6em;
  margin: 0.1em;
}
  .btn:hover {
    background-color: #34495e;
    border-color: #EFEFEF;
    color: #EFEFEF; }

details > summary{
  font-size: 4em;
  text-transform: uppercase;
  color: #EFEFEF;
}
.text {
  color: #EFEFEF; }
  .text a {
    color: #EFEFEF;
    text-decoration: underline; }

.container{
  background-color: rgba(18, 31, 42, 0.794);
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.row{
  text-align: center;
}